/* General styles for the entire page */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #56ab2f, #00aeef); /* Green to blue gradient */
    color: #fff;
    text-align: center;
}

/* Top navigation bar styles */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content {
    background-color: #222; /* Dark background for the header */
    color: #fff;
    padding: 10px 20px; /* Padding around the text */
    text-align: center; /* Center-align the text */
}

.current-price {
    font-size: 24px; /* Larger font size for the current price */
    font-weight: bold; /* Make the current price bold */
}

.price-info {
    display: flex;
    justify-content: space-around; /* Space out the listing and next

 prices */
    margin-top: 5px; /* Margin top for spacing */
    padding: 10px; /* Padding inside the price info box */
    background-color: #333; /* Darker background for contrast */
    border-radius: 20px; /* Rounded corners */
    width: 60%; /* Smaller width for the price info box */
    margin: 10px auto; /*

.price-info p {
    font-size: 16px; /* Smaller font size for additional price info */
    color: #7fff00; /* Bright green color for emphasis */
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.connect-wallet {
    float: right;
    background-color: #0084ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* Main section styles */
.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto; /* Flexibility for filling available space */
}

p {
    max-width: 600px;
}

/* Form container styles */
.form-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin: auto;
}

form input[type="text"], form input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #56ab2f;
    color: white;
    border: none;
    cursor: pointer;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    flex-shrink: 0; /* Keeps footer size constant */
}