body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #56ab2f, #00aeef); /* Green to blue gradient */
    color: #fff;
    margin: 0;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #fefefe;
    margin-bottom: 20px;
}

p {
    max-width: 600px;
}

.connect-wallet {
    background-color: #fff;
    color: #0084ff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

form input[type="text"], form input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #56ab2f;
    color: white;
    border: none;
    cursor: pointer;
}